.form-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto; /* Centraliza o formulário horizontalmente */
}

mat-card-actions {
  display: flex;
  justify-content: flex-start; /* O botão fica no canto esquerdo */
}
